@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<!--[if lt IE 7]>   <html class="lt-ie9 lt-ie8 lt-ie7" lang="en" data-ng-app="zeroApp"> <![endif]-->
<!--[if IE 7]>      <html class="lt-ie9 lt-ie8" lang="en" data-ng-app="zeroApp"> <![endif]-->
<!--[if IE 8]>      <html class="lt-ie9" lang="en" data-ng-app="zeroApp"> <![endif]-->
<html data-ng-app="zeroApp" data-user-agent>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>@ViewData["Title"]</title>

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:600">
        <link rel="stylesheet" type="text/css" href="~/zero.min.css">
        
        <environment names="Development">
            <script type="text/javascript" src="~/Scripts/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="~/Scripts/jquery-ui/jquery-ui.js"></script>

            <script type="text/javascript" src="~/Scripts/angular/angular.js"></script>
            <script type="text/javascript" src="~/Scripts/angular-route/angular-route.js"></script>
            <script type="text/javascript" src="~/Scripts/angular-resource/angular-resource.js"></script>

            <script type="text/javascript" src="~/Scripts/markdown-it/dist/markdown-it.js"></script>

            <script type="text/javascript" src="~/Scripts/app/app.js"></script>

            <script type="text/javascript" src="~/Scripts/app/controllers/registerController.js"></script>
            <script type="text/javascript" src="~/Scripts/app/controllers/aboutController.js"></script>
            <script type="text/javascript" src="~/Scripts/app/controllers/articlesController.js"></script>
            <script type="text/javascript" src="~/Scripts/app/controllers/newsController.js"></script>
            <script type="text/javascript" src="~/Scripts/app/controllers/projectsController.js"></script>

            <script type="text/javascript" src="~/Scripts/app/directives/primaryDirective.js"></script>
            <script type="text/javascript" src="~/Scripts/app/directives/errorDirective.js"></script>
            <script type="text/javascript" src="~/Scripts/app/directives/iconDirective.js"></script>
            <script type="text/javascript" src="~/Scripts/app/directives/markdownDirective.js"></script>
            <script type="text/javascript" src="~/Scripts/app/directives/navigationDirective.js"></script>
            <script type="text/javascript" src="~/Scripts/app/directives/pointerDirective.js"></script>
            <script type="text/javascript" src="~/Scripts/app/directives/tagDirective.js"></script>
            <script type="text/javascript" src="~/Scripts/app/directives/transitionDirective.js"></script>
            <script type="text/javascript" src="~/Scripts/app/directives/userAgentDirective.js"></script>
            <script type="text/javascript" src="~/Scripts/app/directives/resultDirective.js"></script>

            <script type="text/javascript" src="~/Scripts/app/factories/safeApplyFactory.js"></script>
            <script type="text/javascript" src="~/Scripts/app/factories/commentsFactory.js"></script>
            <script type="text/javascript" src="~/Scripts/app/factories/newsFactory.js"></script>
            <script type="text/javascript" src="~/Scripts/app/factories/usersFactory.js"></script>

            <script type="text/javascript" src="~/Scripts/app/services/loginService.js"></script>
            <script type="text/javascript" src="~/Scripts/app/services/render2dService.js"></script>
            <script type="text/javascript" src="~/Scripts/app/services/svgService.js"></script>
        </environment>
        
        <environment names="Staging,Production">
            <script type="text/javascript" src="~/zero.min.js"></script>
        </environment>
    </head>
    
    <body class="popup">
        <icon class="logo"
            data-src="../../images/banner.svg#logo"
            data-width="73"
            data-height="60">
        </icon>

        <h2>|&nbsp;&nbsp;@ViewData["Title"]</h2>
        @RenderBody()

        <button id="closeButton" class="button-form button-right"
            onclick="window.close()"
            data-primary>
            <icon
                class="icon-button"
                data-src="../../images/banner.svg#close"
                data-width="10"
                data-height="10">
            </icon>
            @ViewData["Close"]
        </button>

        <div class="spacer-right"></div>

        @RenderSection("buttons", required:false)
    </body>
</html>