@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Register";
    ViewData["Close"] = "cancel";
    Layout = "Popup";

    bool interrupted = bool.Parse(ViewData["Interrupted"].ToString());
    string provider = ViewData["Provider"].ToString();
    string defaultName = ViewData["Name"].ToString();
}

<!-- Register prompt -->
<p>
    @if (interrupted)
    {
        @:You are logged in with @provider.
    }

    Please provide a name to use for posting comments:
</p>

<!-- Register form -->
<form id="registration"
    action="~/services/users/register"
    method="post"
    asp-antiforgery="true"
    data-ng-controller="registerController as register">

    <!-- Register user name -->
    <input type="text"
        class="form-input full-width"
        id="defaultInput"
        name="name"
        value="@defaultName"/>
</form>

<!-- Buttons are merged with popup layout buttons -->
@section Buttons
{
    <button type="submit"
        class="button-form button-right"
        onclick="registration.submit()"
        data-primary>
        <icon class="icon-button"
            data-src="../../images/banner.svg#submit"
            data-width="10"
            data-height="10">
        </icon>
        register
    </button>
}