@{
    ViewData["Title"] = "Login Successfull";
    ViewData["Close"] = "ok";
    Layout = "Popup";
    string userName = ViewData["Name"].ToString();
}

<p>Thank you for logging in, @userName. Please close this window if it doesn't close automatically.</p>

<result success="true" parameter="@userName"/>