<!DOCTYPE html>
<!--[if lt IE 7]>   <html class="ie lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en" data-ng-app="zeroApp" data-user-agent> <![endif]-->
<!--[if IE 7]>      <html class="ie lt-ie10 lt-ie9 lt-ie8" lang="en" data-ng-app="zeroApp" data-user-agent> <![endif]-->
<!--[if IE 8]>      <html class="ie lt-ie10 lt-ie9" lang="en" data-ng-app="zeroApp" data-user-agent> <![endif]-->
<!--[if IE 9]>      <html class="ie lt-ie10" lang="en" data-ng-app="zeroApp" data-user-agent> <![endif]-->
<html data-ng-app="zeroApp" data-user-agent>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="~/images/favicons/favicon-144.png">
        
        <title>@ViewData["Title"]</title>
        
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
        <link rel="stylesheet" type="text/css" href="~/zero.min.css">
        <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="~/favicon.ico" type="image/x-icon"/ >
        <link rel="shortcut icon" sizes="196x196" href="~/images/favicons/favicon-196.png">
        <link rel="apple-touch-icon-precomposed" href="~/images/favicons/favicon-152.png">
        <link rel="icon" sizes="76x76" href="~/images/favicons/favicon-76.png">
        <link rel="icon" sizes="57x57" href="~/images/favicons/favicon-57.png">
        <link rel="icon" sizes="32x32" href="~/images/favicons/favicon-32.png">
        
        <script type="text/javascript" src="~/zero.min.js"></script>
    </head>
    
    <body class="popup">
        <icon class="logo"
            data-src="../../images/banner.svg#logo"
            data-width="73"
            data-height="60">
        </icon>

        <h2>|&nbsp;&nbsp;@ViewData["Title"]</h2>
        @RenderBody()

        <button id="closeButton" class="button-form button-right"
            onclick="window.close()"
            data-primary>
            <icon
                class="icon-button"
                data-src="../../images/banner.svg#cancel"
                data-width="10"
                data-height="10">
            </icon>
            @ViewData["Close"]
        </button>

        <div class="spacer-right"></div>

        @RenderSection("buttons", required:false)
    </body>
</html>