/*--------------------------------------------------------*\
|   ______    __   |
|  |  __  |  |  |  |
|  | |  | |  |  |  |
|  | !__! |  |  |  |
|  !______!  !__!  |  binary : tech art
|
|  @file Article styles.
|----------------------------------------------------------
|  @author Valeriy Novytskyy
\*---------------------------------------------------------*/

$article-indent: 1.5em;

main > article {
  border-bottom: $border-thickness dotted $shadow-light-color;
}

article > h2 {
  font-size: $heading-font-size-medium;
}

.os-win article > h2 {
  font-size: $heading-font-size-medium-win;
}

article > h3 {
  font-size: $heading-font-size-small;
}

.os-win article > h3 {
  font-size: $heading-font-size-small-win;
}

article > h4 {
  font-size: $heading-font-size-smaller;
}

article > h2,
article > h3,
article > h4 {
  text-transform: lowercase;
  font-family: $heading-font;
  font-weight: $heading-font-weight;
  margin-bottom: $margin;
  margin-top: $margin;
}

article > h2,
article > h3,
article > h4 {
  padding-left: 1.2em;
  clear: left;
}

article > h2 {
  margin-bottom: .3em;
}

article > h3,
article > h4 {
  margin-left: 1.2em;
}

article > h2:hover,
article > h3:hover,
article > h4:hover {
  .permalink-anchor {
    opacity: 1;
  }
}

.article-metadata {
  line-height: $small-font-line-height + 2;
  margin-left: $article-indent;
  margin-bottom: -1em;
}

.os-win .article-metadata {
  line-height: $small-font-line-height-win + 2;
}

.article-content {
  margin-left: $article-indent;
}