.align-left {
    float: left;
}

.align-right {
    float: right;
}

.top-margin {
  margin-top: 8px;
}

.clear-fix:after {
  content: '';
  display: table;
  clear: both;
}

.full-width {
  width: 100%;
}

.no-whitespace {
  font-size: 0;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari*/
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.error {
  color: $error-color;
}

html.scrolling, html.scrolling * {
  /* Display ew-resize cursor for entire page */
  cursor: ew-resize !important;
}