.button-inline {
  color: $secondary-text-color;
  background: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
  border: none;
  font-family: $small-font;
  font-size: $small-font-size;
  transition: color $animation-fast ease-out;
}

.os-win .button-inline {
  font-size: $small-font-size-win;
}

.button-inline:hover {
  color: $primary-color;
}

.button-secondary {
  color: $accent-text-color;
  border-bottom: $border-thickness dotted $accent-text-color;
}

.button-right {
  min-width: 6.4em;
  float: right;
}
