/*--------------------------------------------------------*\
|   ______    __   |
|  |  __  |  |  |  |
|  | |  | |  |  |  |
|  | !__! |  |  |  |
|  !______!  !__!  |  binary : tech art
|
|  @file Comment list and form styles.
|----------------------------------------------------------
|  @author Valeriy Novytskyy
\*---------------------------------------------------------*/

$comment-line-height: 1.5em;
$comment-padding: .35em;

.comments {
  font-family: $small-font;
  font-size: $small-font-size;
  margin: 0 0 0 $article-indent;
  clear: both;
}

.os-win .comments {
  font-size: $small-font-size-win;
  margin-bottom: -8px;
}

.comments-header {
  color: $secondary-text-color;
  font-family: $small-font;
  font-size: $small-font-size;
  font-weight: $small-font-weight;
  margin-bottom: .5em;
}

.os-win .comments-header {
  font-size: $small-font-size-win;
}

.comments-list {
  margin-left: $article-indent;
  margin-bottom: 1em;
}

.comment {
  position: relative;
  overflow: auto;
  clear: both;
  border-top: $border-thickness solid $accent-color;
  padding-left: 1.5em;
  padding-top: $comment-padding;
  padding-bottom: $comment-padding;
  line-height: $comment-line-height;
  transition: all .15s ease-in-out;
}

.comment:before {
  content: '//';
  position: absolute;
  left: .3em;
}

.comment:hover {
  background-color: $accent-light-color;
}

.os-win.hi-dpi .comment:hover {
  background-color: desaturate($accent-light-color, 100%);
}

.comment--official {
  background: $accent-light-color;
}

.comment__content {
  color: $foreground-color;
}

.comment__vote {
  position: absolute;
  line-height: $comment-line-height;
  margin-top: $comment-padding;
  margin-left: -$small-font-size * 2;
  width: $small-font-size * 3;
  height: $small-font-size * 2;
}

.button-vote {
  cursor: pointer;
  position: absolute;
  left: $small-font-size * .6;
  font-family: 'Webdings';
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.button-vote:hover {
  color: $primary-hover-color;
}

.button-vote.upvote {
  top: -3pt;
}

.button-vote.downvote {
  top: 4pt;
}

.vote__content {
  float: right;
  padding-top: $border-thickness;
  padding-right: $small-font-size * 1.5;
  transition: all .15s ease-in-out;
  opacity: .5;
}

.vote--default .vote__content {
  opacity: 0;
}

.vote--readonly .button-vote {
  cursor: default;
}

.comment-group:hover {
  .button-vote {
    opacity: 1;
  }

  .vote__content {
    opacity: 1;
    padding-right: $small-font-size * 2.55;
  }

  .vote--readonly {
    .button-vote {
      opacity: 0;
    }

    .vote__content {
      opacity: .5;
      padding-right: $small-font-size * 1.5;
    }
  }

  .vote--default {
    .vote__content {
      opacity: 0;
    }
  }
}

.comment-entry__toggle {
  display: none;
}

.comment-entry__toggle + label {
  position: relative;
  float: left;
  padding-left: 1.25em;

  &:hover {
    .comment-entry__icon {
      color: $primary-color;
    }
  }
}

.comment-entry__toggle:checked + label {
  color: $accent-text-color;

  .comment-entry__icon {
    color: $accent-text-color;
  }

  .comment-entry__icon--expand {
    transform: rotate(90deg);
    opacity: 0;
  }

  &:hover {
    color: $primary-color;

    .comment-entry__icon {
      color: $primary-color;
    }
  }
}

.comment-entry__icon {
  position: absolute;
  top: calc(100% - 16px);
  left: 0;
  color: $secondary-text-color;
  transition: color $animation-fast ease-in-out;
  transform: translateZ(0);
}

.comment-entry__icon--expand {
  transform-origin: 6px 7.5px;
  transform: rotate(0);
  opacity: 1;
  transition: transform $animation-fast ease-in-out,
              opacity $animation-fast ease-in-out,
              color $animation-fast ease-in-out;
}

.comment-login {
  position: relative;
  float: left;
  max-height: 7em;
  overflow: hidden;
  transition: max-height .7s ease-in-out;

  &:after {
    // Disable GPU rendering on Safari
    opacity: 0;
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: $background-color;
    transition: opacity $animation-fast $animation-fast ease-in-out;
  }

  &__prompt {
    color: $secondary-text-color;
    float: left;
    margin: 0 .25em 0 .25em;
  }

  form {
    float: left;
  }

  button {
    // Reset margin from user agent stylesheet.
    margin-top: 0;
  }
}

.os-win .comment-login {
  &__prompt {
    margin-right: .5em;
  }

  form {
    margin-top: 0;
  }
}

.comment-entry__toggle:not(:checked) + label + .comment-login {
  max-height: 0;
  transition: max-height .3s .3s ease-in-out;

  &:after {
    opacity: 1;
    transition: opacity $animation-fast ease-in-out;
  }
}

.comment-entry__error {
  position: relative;
  overflow: hidden;
  max-height: 0;
  margin: 0;
  transition: max-height $animation-slow $animation-slow ease-in-out,
              margin $animation-slow $animation-slow ease-in-out;
}

.comment-entry__error:after {
  // Disable GPU rendering on Safari.
  content: '';
  position: absolute;
  background: $background-color;
  opacity: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: opacity $animation-slow;
}

.comment-entry {
  float: left;
  margin-left: $article-indent;
  width: calc(100% - 1em);

  &__error--active {
    margin: 8px 0 4px;
    max-height: 4em;
    transition: max-height $animation-slow ease-in-out,
                margin $animation-slow ease-in-out;
  }

  &__error--active:after {
    opacity: 0;
    transition: opacity $animation-slow $animation-fast ease-in-out;
  }

  form {
    position: relative;
    top: 0;
    opacity: 1;
    transition: opacity $animation-fast $animation-fast ease-in-out,
                top $animation-fast $animation-fast ease-in-out;
  }

  textarea {
    width: calc(100% - 6.75em);
    min-height: 27px;
    padding-top: 4px;
    margin: 8px 0 10px 0;
    resize: vertical;
    overflow: hidden;
    transition: all $animation-fast ease-in-out;
  }

  button[type="submit"] {
    position: absolute;
    max-height: 27px;
    margin-top: 0;
    width: 6.25em;
    top: 8px;
    right: 0;

    .icon-button {
      right: 1px;
    }
  }
}

.os-win .comment-entry {
  min-height: 1.5em;

  textarea {
    padding-top: 2px;
    margin-top: 10px;
    margin-bottom: 22px;
  }

  button[type="submit"] {
    top: 9px;
  }
}

.comment-entry__toggle:not(:checked) + label + .comment-login + .comment-entry {
  .comment-entry__error--active {
    max-height: 0;
    margin: 0;
    transition: max-height $animation-slow ease-out,
                margin $animation-slow ease-out;
  }

  .comment-entry__error--active:after {
    opacity: 1;
    transition: opacity $animation-fast ease-in-out;
  }

  form {
    top: 3em;
    opacity: 0;
    transition: opacity $animation-fast ease-in-out,
                top $animation-fast ease-in-out;
  }

  textarea {
    min-height: 0;
    // Browser and inputResizeFactory set inline style (height) this must override.
    height: 0 !important;
    // Browsers sets inline style (margin-top, margin-bottom) this must override.
    margin: 0 !important;
    padding: 0;
    transition: all $animation-fast $animation-fast ease-in-out;
  }
}