.comments {
  margin-top: 0;
  margin-left: 1.5em;
  font-family: $small-font;
  font-size: $small-font-size;
  padding-bottom: 0;
  clear: both;
}

.os-win .comments {
  font-size: $small-font-size-win;
}

.comments-header {
  color: $secondary-text-color;
  margin-top: 10px;
  margin-bottom: 3pt;
}

.comment {
  overflow: auto;
  clear: both;
  border-top: $border-thickness solid $accent-color;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  transition: all .15s ease-in-out;
}

.comment:hover {
  background-color: $accent-highlight-color;
}

.os-win .comment:hover {
  background-color: $accent-color;
}

.os-win.hi-dpi .comment:hover {
  background-color: desaturate($accent-light-color, 100%);
}

.comment .metadata {
  float: left;
  margin-top: 1pt;
  margin-right: 2pt;
  margin-bottom: 3pt;
}

.comment-official {
  background: $accent-light-color;
}

.comment-content {
  float: left;
  white-space: pre-line;
  margin-top: 1pt;
  margin-bottom: 3pt;
}

.comment-vote {
  position: absolute;
  margin-top: 1pt;
  margin-left: -$small-font-size * 2;
  width: $small-font-size * 3;
  height: $small-font-size * 2;
}

.button-vote {
  cursor: pointer;
  position: absolute;
  left: $small-font-size * .6;
  font-family: 'Webdings';
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.button-vote:hover {
  color: $primary-hover-color;
}

.button-vote.upvote {
  top: -2pt;
}

.button-vote.downvote {
  top: 5pt;
}

.vote-content {
  float: right;
  padding-top: $border-thickness;
  padding-right: $small-font-size * 1.5;
  transition: all .15s ease-in-out;
  opacity: .5;
}

.vote-default .vote-content {
  opacity: 0;
}

.vote-readonly .button-vote {
  cursor: default;
}

.comment-group:hover {
  .button-vote {
    opacity: 1;
  }

  .vote-content {
    opacity: 1;
    padding-right: $small-font-size * 2.55;
  }

  .vote-readonly {
    .button-vote {
      opacity: 0;
    }

    .vote-content {
      opacity: .5;
      padding-right: $small-font-size * 1.5;
    }
  }

  .vote-default {
    .vote-content {
      opacity: 0;
    }
  }
}

.os-win {
  .comment .metadata {
    margin-top: 0;
    margin-bottom: 2pt;
  }

  .comment-content {
    margin-top: 0;
    margin-bottom: 2pt;
  }
}

.os-win.hi-dpi {
  .comment .metadata {
    margin-top: 1pt;
    margin-bottom: 2pt;
  }

  .comment-content {
    margin-top: 1pt;
    margin-bottom: 2pt;
  }
}

.ie10,
.lt-ie10 {
  .comment .metadata {
    margin-top: 1pt;
    margin-bottom: 3pt;
  }

  .comment-content {
    margin-top: 1pt;
    margin-bottom: 3pt;
  }
}

.comment-form {
  margin-top: -4px;
  margin-bottom: -5px;
}

.os-win .comment-form {
  margin-top: -4px;
}

.comment-input {
  min-height: 19pt;
  height: 19pt;
  resize: vertical;
}

.comment-error {
  margin-left: 12pt;
}