.date-selector {
    position: relative;
    height: 85px;
}

.date-selector-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $accent-light-color;
    z-index: -1;
}

.date-selector-background:before {
    content: '';
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: $background-color transparent transparent $background-color;
    left: 0;
    top: 0%;
}

.date-selector-background:after {
    content: '';
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: transparent $background-color $background-color transparent;
    right: 0;
    bottom: 0;
}

.date-selector-collapsed {
    height: 34px;
    width: 100%;

    .date-selector-heading:before {
        content: '+ ';
        left: -13px;
    }

    .date-selector-scroll {
        display: none;
    }

    .date-selector-view {
        display: none;
    }

    .date-selector-pages {
        display: none;
    }
}

.date-selector-heading {
    position: absolute;
    left: 20px;
    top: 10px;
}

.date-selector-heading:before {
    content: '- ';
    position: absolute;
    left: -10px;
}

.date-selector-scroll {
    font-family: 'Wingdings 3';
    color: $foreground-color;
    text-shadow: none;
    background: $accent-light-color;
    border: $border-thickness solid $secondary-text-color;
    box-shadow: $border-thickness $border-thickness 0 $background-color inset;
    position: absolute;
    width: 23px;
    height: 32px;
    bottom: 10px;
}

.date-selector-scroll.pushed {
    color: $background-color;
    box-shadow: $border-thickness $border-thickness 0 $shadow-dark-color inset;
}

.date-selector-scroll .button-primary-content {
    padding-left: 2px;
    padding-right: 1px;
}

.date-selector-scroll .button-primary-leftcorner {
  border-top: $corner-small solid $accent-light-color;
}

.date-selector-scroll .button-primary-rightcorner {
    border-bottom: $corner-small solid $accent-light-color;
}

.date-selector-scroll .button-primary-leftcornerborder {
    border-top: $corner-small solid $secondary-text-color;
}

.date-selector-scroll .button-primary-leftcornerhighlight {
    border-top: $corner-small solid $background-color;
}

.date-selector-scroll.pushed .button-primary-leftcornerhighlight {
    border-top: $corner-small solid $shadow-dark-color;
}

.date-selector-scroll .button-primary-rightcornerborder {
  border-bottom: ($corner-small + $border-thickness) solid $secondary-text-color;
}

.date-selector-scroll .button-primary-rightcornershadow {
  border-bottom: ($corner-small + $border-thickness) solid $shadow-color;
}

.date-selector-scroll.pushed .button-primary-rightcornershadow {
  border-bottom: ($corner-small + $border-thickness) solid $drop-shadow-light-color;
}

.date-selector-scroll .button-primary-rightshadow {
  border-right: $border-thickness solid $shadow-color;
}

.date-selector-scroll.pushed .button-primary-rightshadow {
  border-right: $border-thickness solid $drop-shadow-light-color;
}

.date-selector-scroll .button-primary-bottomshadow {
  border-bottom: $border-thickness solid $shadow-color;
}

.date-selector-scroll.pushed .button-primary-bottomshadow {
  border-bottom: $border-thickness solid $drop-shadow-light-color;
}

.date-selector-scroll-left {
    left: 10px;
}

.date-selector-scroll-right {
    right: 10px;
}

.date-selector-pages {
    position: absolute;
    left: 28px;
    right: 25px;
    bottom: 10px;
    height: 32px;
    font-family: $small-font;
    font-size: $small-font-size;
    z-index: 200;
    overflow: hidden;
}

.os-win .date-selector-pages {
  font-size: $small-font-size-win;
}

.date-selector-page {
    position: relative;
    float: left;
    width: 31px;
    height: 32px;
    padding-left: 3px;
    padding-top: 8px;
    margin-right: -8px;
    cursor: pointer;
}

.page-button-highlight {
    stroke: $background-color;
}

.page-button-shadow {
    stroke: $shadow-color;
}

.date-selector-page-label {
    text-align: center;
}

.date-selector-page-border {
    position: absolute;
    stroke: $secondary-text-color;
    left: 0;
    top: 0;
}

.date-selector-page-background,
.date-selector-page-hover,
.date-selector-page-pushed
 {
    position: absolute;
    left: 0;
    top: 0;
}

.date-selector-page-background {
    z-index: -1;
}

.date-selector-page-background:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: red;
    box-shadow: 0 $border-thickness ($border-thickness * 2) $drop-shadow-dark-color;
}

.date-selector-page-hover {

}

.date-selector-page-pushed {

}