/*--------------------------------------------------------*\
|   ______    __   |
|  |  __  |  |  |  |
|  | |  | |  |  |  |
|  | !__! |  |  |  |
|  !______!  !__!  |  binary : tech art
|
|  @file Date selector directive styles.
|----------------------------------------------------------
|  @author Valeriy Novytskyy
\*---------------------------------------------------------*/

.date-selector {
    /* Enable absolute positioning for children relative to self */
    position: relative;

    /* Clip tag view within left/right edges to simulate scrolling */
    overflow: hidden;

    /* Expanded height */
    height: 130px;

    /* Min scroll fade overlay */
    &:before {
        content: '';
        position: absolute;
        left: -1px;
        top: 30px;
        bottom: 40px;
        width: 1px;
        box-shadow: 0px 0px 5px 8px $accent-light-color;
        z-index: 4;
    }

    /* Max scroll fade overlay */
    &:after {
        content: '';
        position: absolute;
        right: -1px;
        top: 30px;
        bottom: 40px;
        width: 1px;
        box-shadow: 0px 0px 5px 8px $accent-light-color;
        z-index: 4;
    }

    /* Background rectangle */
    &-background {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-color: $accent-light-color;
        z-index: -1;

        /* Top left corner cut-off */
        &:before {
            content: '';
            position: absolute;
            border-width: 8px;
            border-style: solid;
            border-color: $background-color transparent transparent $background-color;
            left: 0px;
            top: 0px;
        }

        /* Bottom right corner cut-off */
        &:after {
            content: '';
            position: absolute;
            border-width: 8px;
            border-style: solid;
            border-color: transparent $background-color $background-color transparent;
            right: 0px;
            bottom: 0px;
        }
    }

    /* Graph view */
    &-view {
        position: absolute;
        left: 10px;
        right: 0px;
        top: 30px;
        bottom: 37px;
        overflow: hidden;
        cursor: ew-resize;
    }

    /* Page numbers strip */
    &-pages {
        position: absolute;
        left: 36px;
        right: 10px;
        bottom: 5px;
        height: 32px;
        overflow: hidden;
        z-index: 2;
    }

    /* Page number button overrides for PC */
    .os-win &-page {
        font-size: $small-font-size-win;
        &-label {
            line-height: 26px;
        }
    }

    /* Page number button */
    &-page {
        position: relative;
        float: left;
        width: 35px;
        height: 27px;
        padding-left: 4px;
        padding-top: 5px;
        padding-right: 0px;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: -8px;
        margin-bottom: 10px;
        font-family: $small-font;
        font-size: $small-font-size;
        color: $foreground-color;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;

        /* Focus state - TODO */
        &:focus {
            color: red;

            .date-selector-page:before {
                background: green;
            }
        }

        /* Hover state */
        &:hover {
            color: $foreground-color;

            .date-selector-page-hover {
                opacity: 1;
            }

            .date-selector-page-label {
                opacity: 1;
            }

            /* Hover selected state */
            &.selected {
                .date-selector-page-label {
                    opacity: 1;
                }
            }
        }

        /* Selected state */
        &.selected {
            .date-selector-page {
                /* Hover state */
                &-hover,
                &-border {
                    display: none;
                }

                &-border-pushed {
                    display: block;
                }

                &-pushed {
                    display: block;
                }

                &-label {
                    color: $background-color;
                    opacity: 0.8;
                }
            }
        }

        /* Primitive fallback */
        &-fallback {
            position: relative;
            left: -100vw;
        }

        /* Page number text including accessibility descriptor */
        &-label {
            position: absolute;
            top: 0px;
            left: 4px;
            right: 2px;
            line-height: 26px;
            opacity: 0.8;
            transition: opacity 0.4s $fade-function;

            /* Fix :active not shown on IE due to mouse events being eaten */
            height: 0px;
            pointer-events: none;
        }

        /* Page number text */
        &-number {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-align: center;
        }

        /* Group separator for large number of pages */
        &-separator {
            color: $secondary-text-color;
            cursor: default;

            /* Overrides for page button */
            &:before {
                display: none;
            }

            &:hover {
                .date-selector-page-hover {
                    display: none;
                }

                .date-selector-page-label {
                    color: $secondary-text-color;
                    opacity: 1;
                }
            }

            /* Overrides for children of page button */
            .date-selector-page {
                &-border, &-background, &-outline {
                    display: none;
                }
            }
        }

        /* Page number sub-elements */
        &-border,
        &-border-pushed,
        &-outline,
        &-background,
        &-hover,
        &-pushed {
            /* Fix :active not shown on IE due to mouse events being eaten */
            pointer-events: none;
        }
        
        &-border,
        &-border-pushed,
        &-outline {
            position: absolute;
            fill: none;
            stroke: $secondary-text-color;
            left: 0;
            top: 0;
        }

        &-background,
        &-hover,
        &-pushed
        {
            position: absolute;
            left: 0;
            top: 0;
        }

        &-pushed {
            fill: url(/#page-button-gradient-pushed);
            stroke: none;
            display: none;
        }

        &-border-pushed {
            display: none;
        }

        &-border {
            color: $background-color;
            stroke: $shadow-color;
            fill: none;
            z-index: -1;

            &-pushed {
                color: $shadow-dark-color;
                stroke: $drop-shadow-light-color;
            }
        }

        &-background {
            fill: url(/#page-button-gradient);
            stroke: none;
            z-index: -3;
        }

        &-hover {
            fill: url(/#page-button-gradient-hover);
            stroke: none;
            z-index: -2;
            opacity: 0;
            transition: opacity 0.4s $fade-function;
        }

        /* Bottom shadow */
        &:before {
            content: '';
            position: absolute;
            left: 0px;
            right: 10px;
            bottom: 6px;
            height: 1px;
            box-shadow: 0 $border-thickness ($border-thickness * 2) $drop-shadow-dark-color;
            z-index: -3;
        }
    }

    /* Scroll buttons */
    &-scroll {
        color: $foreground-color;
        height: 27px;
        border: none;
        outline: none;
        cursor: pointer;

        /* Hover state */
        &:hover {
            color: $foreground-color;

            .date-selector-page-hover {
                opacity: 1;
            }

            .date-selector-page-label {
                opacity: 1;
            }
        }

        /* Pushed state */
        &:active {
            .date-selector-page {
                &-hover {
                    display: none;
                }

                &-pushed {
                    display: block;
                }

                &-label {
                    color: $background-color;
                }

                &-border {
                    display: none;
                }

                &-border-pushed {
                    display: block;
                }
            }
        }

        /* Arrow icon */
        &-label {
            position: absolute;
            left: 13px;
            top: 10px;
            text-align: center;
            pointer-events: none;
        }

        /* Arrow icon wrapper */
        .date-selector-page-label {
            top: 0px;
            right: 0px;
            bottom: 5px;
            line-height: 25px;
            text-align: center;
        }

        /* Bottom shadow */
        &:before {
            content: '';
            position: absolute;
            left: 0px;
            bottom: 1px;
            height: 1px;
            box-shadow: 0 $border-thickness ($border-thickness * 2) $drop-shadow-dark-color;
        }

        /* Left scroll button */
        &-left {
            position: absolute;
            left: 10px;
            bottom: 10px;
            width: 30px;
            z-index: 1;

            /* Arrow icon wrapper */
            .date-selector-page-label {
                left: 1px;
            }

            /* Bottom shadow */
            &:before {
                right: 6px;
                z-index: -3;
            }
        }

        /* Right scroll button */
        &-right {
            position: relative;
            float: left;
            width: 35px;
            height: 27px;

            /* Arrow icon wrapper */
            .date-selector-page-label {
                left: 2px;
            }

            /* Bottom shadow */
            &:before {
                right: 5px;
                z-index: -3;
            }
        }
    }

    /* Expand/collapse caption button */
    &-caption {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    /* Collapsed state overrides */
    &.collapsed {
        margin-top: -2px;
        margin-bottom: -7px;
        margin-left: 11px;
        overflow: visible;

        /* Min scroll fade overlay */
        &:before {
            display: none;
        }

        /* Max scroll fade overlay */
        &:after {
            display: none;
        }

        .date-selector {
            /* Expand/collapse caption button */
            &-caption {
                position: absolute;
                left: -7px;
                top: 10px;
            }

            /* Background rectangle */
            &-background {
                background: $background-color;
            }

            /* Graph view */
            &-view {
                display: none;
            }

            /* Pages strip */
            &-pages {
                bottom: -2px;
            }

            /* Left scroll button - collapsed overrides */
            &-scroll .button-primary {
                &-leftcorner {
                    border-top: $corner-small solid $background-color;
                }

                &-rightcorner {
                    border-bottom: $corner-small solid $background-color;
                }
            }

            /* Left scroll button - collapsed overrides */
            &-scroll-left {
                bottom: 3px;
            }
        }
    }
}

/* Monthly wrapper */
.tag-page {
  position: absolute;
  top: 0px;
  bottom: 20px;
  width: 87px;
  border-bottom: 2px solid $accent-color;

  /* Hover state */
  &:hover {
    border-bottom: 2px solid darken($accent-color, 8%);
  }

  /* Underline */
  &-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    padding-top: 3px;
    top: 100%;
    text-align: center;
    font-family: $small-font;
    font-size: $small-font-size - 2;
    color: $drop-shadow-light-color;
    cursor: pointer;

    /* Hover state */
    &:hover {
      color: $primary-color;
    }
  }

  /* Dashed month separator */
  &-separator {
    position: absolute;
    top: 1px;
    bottom: 0px;
    right: -3px;
    border-right: 1px dashed $border-color;
    outline-offset: 10px;
    z-index: -1;
  }

  /* Left and right selection brackets */
  &-bracket-left, &-bracket-right {
    position: absolute;
    fill: lighten($border-color, 3%);
    z-index: 4;
    pointer-events: none;
  }

  /* Mask underline before, after, and in the middle of bracket selection */
  &-underline-mask {
    position: absolute;
    bottom: 18px;
    height: 4px;
    background: $accent-light-color;
  }
}

/* Weekly tag stacked bar */
.tag-bar {
  position: absolute;
  top: 10px;
  bottom: 2px;
  min-width: 22px;
  z-index: 1;
}

/* Weekly tag block */
.tag-block {
  position: absolute;
  width: 16px;
  min-height: 6px;
  border-left: 2px solid $accent-light-color;
  border-right: 2px solid $accent-light-color;
  border-top: 1px solid $accent-light-color;
  border-bottom: 1px solid $accent-light-color;
  cursor: pointer;
}

/* Hover state */
.tag-bar:hover {
  .tag-block {
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      box-shadow: 0px 0px 4px 0px $drop-shadow-light-color;
      z-index: -2;
    }
  }
}

/* Tag colors */
$electrical:  #12c0e1;
$mechanical:  #fcd116;
$software:    #a71d5d;
$robotics:    #ec008c;
$graphic:     #ff260f;
$web:         #795da3;
$frontend:    #0086b3;
$cad:         #ffb40f;
$industrial:  #ba141a;
$database:    #aebdce;
$sql:         #43a39f;
$music:       #6fac45;
$painting:    #ee4a4e;
$sculpture:   #ff840f;
$crafts:      #67d5e9;

/* Tag blocks */
@mixin tagColors($color) {
  background: $color;

      &:hover {
        background: lighten($color, 5%);
      }
}

.tag {
  &-engineering {
    &-electrical {
      @include tagColors($electrical);
    }

    &-mechanical {
      @include tagColors($mechanical);
    }

    &-software {
      @include tagColors($software);
    }

    &-robotics {
      @include tagColors($robotics);
    }
  }

  &-design {
    &-graphic {
      @include tagColors($graphic);
    }

    &-web {
      @include tagColors($web);
    }

    &-frontend {
      @include tagColors($frontend);
    }

    &-cad {
      @include tagColors($cad);
    }

    &-industrial {
      @include tagColors($industrial);
    }

    &-database {
      @include tagColors($database);
    }
  }

  &-it {
    &-sql {
      @include tagColors($sql);
    }
  }

  &-art {
    &-music {
      @include tagColors($music);
    }

    &-painting {
      @include tagColors($painting);
    }

    &-sculpture {
      @include tagColors($sculpture);
    }

    &-crafts {
      @include tagColors($crafts);
    }
  }
}