/*--------------------------------------------------------*\
|   ______    __   |
|  |  __  |  |  |  |
|  | |  | |  |  |  |
|  | !__! |  |  |  |
|  !______!  !__!  |  binary : tech art
|
|  @file Hyperlink styles.
|----------------------------------------------------------
|  @author Valeriy Novytskyy
\*---------------------------------------------------------*/

/* Article & common hyperlinks */
a {
  color: $accent-text-color;

  &:hover {
    color: $primary-color;
  }
}

/* Location hyperlink in article metadata */
a.location {
  border-bottom: $border-thickness dotted $accent-text-color;
  text-decoration: none;

  &:hover {
    border-bottom: $border-thickness dotted $primary-color;
  }
}

/* Author hyperlink in article metadata */
a.author {
  border-bottom: $border-thickness dotted $accent-text-color;
  text-decoration: none;

  &:hover {
    border-bottom: $border-thickness dotted $primary-color;
  }
}

/* Article permalink hash */
.permalink-anchor {
  display: inline;
  margin-left: -1em;
  margin-right: 0.4em;
  color: $secondary-text-color;
  opacity: 0.5;
  transition: opacity .15s ease-in-out;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $primary-color !important;
  }
}