/*--------------------------------------------------------*\
|   ______    __   |
|  |  __  |  |  |  |
|  | |  | |  |  |  |
|  | !__! |  |  |  |
|  !______!  !__!  |  binary : tech art
|
|  @file Shared variables.
|----------------------------------------------------------
|  @author Valeriy Novytskyy
\*---------------------------------------------------------*/

/*
 * Colors
 */

$primary-color: #12C0E1;
$primary-hover-color: #19C9EA;
$primary-light-color: #71D3DB;
$primary-dark-color: #0E93AD;
$primary-dark-shadow-color: #10A6C4;
$primary-text-color: #FFFFFF;

$secondary-text-color: #848D95;

$accent-color: #E3EBEC;
$accent-light-color: #F6F6F6;
$accent-highlight-color: mix($accent-light-color, white, 45%);
$accent-hover-color: #D7DFE0;
$accent-text-color: #127191;

$foreground-color: #3b4a51;
$background-color: #FFFFFF;
$border-color: lightgray;
$selection-color: #C3C3C3;

$shadow-color: lightgray;
$shadow-dark-color: #595959;
$shadow-light-color: #B5D9E3;

$drop-shadow-dark-color: #777777;
$drop-shadow-light-color: #999999;
$drop-shadow-transparent-color: black;

$warning-color: #E1B412;
$error-color: #E11912;
$highlight-color1: #E11268;
$highlight-color2: #8B12E1;

/*
 * Fonts
 */

/* Consolas is only available on Windows */
/* Menlo is only available on Mac */
$title-font: Consolas, Menlo, monospace;
$title-font-size: 12pt;
$title-font-weight: normal;

/* Helvetica Neue is available only on Mac */
/* Calibri is available only on PC */
$heading-font: "Open Sans", "Helvetica Neue", Calibri, sans-serif;
$heading-font-size-large: 13.5pt;
$heading-font-size-medium: 13pt;
$heading-font-size-small: 12pt;
$heading-font-size-smaller: 11.5pt;

$normal-font: "Open Sans", Verdana, Arial, sans-serif;
$normal-font-size: 12pt;
$navigation-font-size: 10pt;

$small-font: "Segoe UI", Verdana, sans-serif;
$small-font-size: 10pt;
$small-font-line-height: 17pt;

$fallback-font: sans-serif;

$background-font: Arial;

$title-font-size-win: 13pt;
$navigation-font-size-win: 11pt;
$heading-font-size-large-win: 13.5pt;
$heading-font-size-medium-win: 13pt;
$heading-font-size-small-win: 12pt;
$normal-font-size-win: 11pt;
$small-font-size-win: 10.5pt;
$small-font-line-height-win: 20pt;
$small-font-letter-spacing-win: 0;
$code-font-size: 12px;
$code-font-size-win: 12px;
$code-font-line-height: 20px;
$code-font-line-height-win: 20px;

/*
 * Scalars
 */

$margin: 9pt;
$border-thickness: 1px;
$corner-small: 8px;