/*--------------------------------------------------------*\
|   ______    __   |
|  |  __  |  |  |  |
|  | |  | |  |  |  |
|  | !__! |  |  |  |
|  !______!  !__!  |  binary : tech art
|
|  @file Social provider colors.
|----------------------------------------------------------
|  @author Valeriy Novytskyy
\*---------------------------------------------------------*/

$facebook-color: #3563A1;
$twitter-color: #00B6F1;
$google-color: #DD4B39;
$microsoft-color: #7FBA00;
$linkedin-color: #0976B4;
$github-color: #7171A9;
$reddit-color: #FF4500;
$yahoo-color: #630AFF;

.button-social {
  background: $accent-color;
  margin-right: $border-thickness * 4;
  padding-left: $border-thickness * 4;
  padding-right: $border-thickness * 4;
  padding-top: $border-thickness;
  padding-bottom: $border-thickness;
  position: relative;
  top: $border-thickness;
  transition: fill .15s ease-in-out;
}

.button-social:before {
  content: '';
  position: absolute;
  border-top: 4pt solid transparent;
  border-left: 4pt solid $background-color;
  cursor: default;
  bottom: 0;
  left: 0;
}

.button-social:after {
  content: '';
  position: absolute;
  border-bottom: 4pt solid transparent;
  border-right: 4pt solid $background-color;
  cursor: default;
  top: 0;
  right: 0;
}

.button-social:hover {
  .icon-button {
    color: $primary-text-color;
    fill: $primary-text-color;
  }
}

.button-social-facebook:hover {
  background: $facebook-color;
}

.button-social-twitter:hover {
  background: $twitter-color;
}

.button-social-google:hover {
  background: $google-color;
}

.button-social-linkedin:hover {
  background: $linkedin-color;
}

.button-social-microsoft:hover {
  background: $microsoft-color;
}

.button-social-github:hover {
  background: $github-color;
}

.button-social-reddit:hover {
  background: $reddit-color;
}

.button-social-yahoo:hover {
  background: $yahoo-color;
}