/*--------------------------------------------------------*\
|   ______    __   |
|  |  __  |  |  |  |
|  | |  | |  |  |  |
|  | !__! |  |  |  |
|  !______!  !__!  |  binary : tech art
|
|  @file Tag layout.
|----------------------------------------------------------
|  @author Valeriy Novytskyy
\*---------------------------------------------------------*/

$electrical:  #12c0e1;
$mechanical:  #fcd116;
$software:    #a71d5d;
$robotics:    #ec008c;
$graphic:     #ff260f;
$web:         #795da3;
$ui:          #0086b3;
$cad:         #ffb40f;
$industrial:  #ba141a;
$database:    #aebdce;
$sql:         #43a39f;
$music:       #6fac45;
$painting:    #ee4a4e;
$sculpture:   #ff840f;
$crafts:      #67d5e9;