/*--------------------------------------------------------*\
|   ______    __   |
|  |  __  |  |  |  |
|  | |  | |  |  |  |
|  | !__! |  |  |  |
|  !______!  !__!  |  binary : tech art
|
|  @file Tag layout and colors.
|----------------------------------------------------------
|  @author Valeriy Novytskyy
\*---------------------------------------------------------*/

$electrical:  #12c0e1;
$mechanical:  #fcd116;
$software:    #a71d5d;
$robotics:    #ec008c;
$graphic:     #ff260f;
$web:         #795da3;
$ui:          #0086b3;
$cad:         #ffb40f;
$industrial:  #ba141a;
$database:    #aebdce;
$sql:         #43a39f;
$music:       #6fac45;
$painting:    #ee4a4e;
$sculpture:   #ff840f;
$crafts:      #67d5e9;

$tag-border-size: 9px;

.tags {
  /* Prevent white-space from affecting layout */
  font-size: 0;
}

.tag {
  display: inline-block;
  color: $accent-text-color;
  background: $accent-color;
  font-size: $small-font-size;
  text-decoration: none;
  line-height: $small-font-size;
  margin: 0 2pt;
  padding: 7px 10px;
  cursor: pointer;
  transition: background $animation-fast ease-in-out,
              color $animation-fast ease-in-out;
}

.os-win .tag {
  // Fix baseline too low on fonts by using more bottom padding
  padding: 5px 10px 8px 10px;
}

.tag:hover {
  background: $accent-hover-color;
  color: $accent-text-color;
}

.os-win .tag {
  font-size: $small-font-size-win;
  line-height: $small-font-size-win;
}

// Tag top left corner
.tag:before {
  content: '';
  position: absolute;
  border-top: $tag-border-size solid transparent;
  border-left: $tag-border-size solid $background-color;
  left: 0;
  bottom: 0;
  cursor: default;
}

// Tag top right corner
.tag:after {
  content: '';
  position: absolute;
  float: right;
  border-bottom: $tag-border-size solid transparent;
  border-right: $tag-border-size solid $background-color;
  right: 0;
  top: 0;
  cursor: default;
}
