.tooltip {
    position: absolute;
    background: linear-gradient(
        rgba(255, 255, 255, 0.9) 40%,
        rgba(240, 240, 240, 1) 100%);
    color: $foreground-color;
    font-family: sans-serif;
    font-size: 10pt;
    pointer-events: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2000;
}

.tooltip:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0px 1px 6px $selection-color;
    z-index: -2000;
}

.tooltip-point {
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: $shadow-color transparent transparent transparent;
    pointer-events: none;
    left: calc(50% - 9px);
    top: 100%;
    z-index: 1;
}

.tooltip-point:before {
    content: '';
    position: absolute;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(240, 240, 240) transparent transparent transparent;
    pointer-events: none;
    left: calc(50% - 7px);
    top: -9px;
    z-index: 2;
}
