<!DOCTYPE html>
<!--[if lt IE 7]>   <html class="lt-ie9 lt-ie8 lt-ie7" lang="en" data-ng-app="zeroApp"> <![endif]-->
<!--[if IE 7]>      <html class="lt-ie9 lt-ie8" lang="en" data-ng-app="zeroApp"> <![endif]-->
<!--[if IE 8]>      <html class="lt-ie9" lang="en" data-ng-app="zeroApp"> <![endif]-->
<html lang="en" data-ng-app="zeroApp" data-user-agent>
    <head>
        <link rel="stylesheet" type="text/css" href="zero.min.css">
        
        <script type="text/javascript" src="../scripts/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="../scripts/jquery-ui/jquery-ui.js"></script>

        <script type="text/javascript" src="../scripts/angular/angular.js"></script>
        <script type="text/javascript" src="../scripts/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="../scripts/angular-resource/angular-resource.js"></script>

        <script type="text/javascript" src="../scripts/markdown-it/dist/markdown-it.js"></script>

        <script type="text/javascript" src="../scripts/app/app.js"></script>

        <script type="text/javascript" src="../scripts/app/controllers/registerController.js"></script>
        <script type="text/javascript" src="../scripts/app/controllers/aboutController.js"></script>
        <script type="text/javascript" src="../scripts/app/controllers/articlesController.js"></script>
        <script type="text/javascript" src="../scripts/app/controllers/newsController.js"></script>
        <script type="text/javascript" src="../scripts/app/controllers/projectsController.js"></script>

        <script type="text/javascript" src="../scripts/app/directives/primaryDirective.js"></script>
        <script type="text/javascript" src="../scripts/app/directives/errorDirective.js"></script>
        <script type="text/javascript" src="../scripts/app/directives/iconDirective.js"></script>
        <script type="text/javascript" src="../scripts/app/directives/markdownDirective.js"></script>
        <script type="text/javascript" src="../scripts/app/directives/navigationDirective.js"></script>
        <script type="text/javascript" src="../scripts/app/directives/pointerDirective.js"></script>
        <script type="text/javascript" src="../scripts/app/directives/tagDirective.js"></script>
        <script type="text/javascript" src="../scripts/app/directives/transitionDirective.js"></script>
        <script type="text/javascript" src="../scripts/app/directives/userAgentDirective.js"></script>

        <script type="text/javascript" src="../scripts/app/factories/safeApplyFactory.js"></script>
        <script type="text/javascript" src="../scripts/app/factories/commentsFactory.js"></script>
        <script type="text/javascript" src="../scripts/app/factories/newsFactory.js"></script>
        <script type="text/javascript" src="../scripts/app/factories/usersFactory.js"></script>

        <script type="text/javascript" src="../scripts/app/services/loginService.js"></script>
        <script type="text/javascript" src="../scripts/app/services/render2dService.js"></script>
        <script type="text/javascript" src="../scripts/app/services/svgService.js"></script>
    </head>
    <body>
        <p>Testing Testing</p>
        <div class="comment-form" data-ng-show="news.addingComment[@story.id]">
            <!-- Submit button -->
            <button class="button-right"
                data-primary
                data-ng-click="news.addComment(@story.id)">
                <icon class="icon-button"
                    data-src="images/banner.svg#submit"
                    data-width="10"
                    data-height="10">
                </icon>
                submit
            </button>

            <div class="form-spacer-right"></div>
            <div class="form-spacer-left"></div>

            <!-- Comment input -->
            <div class="form-group">
                <textarea class="form-input comment-input full-width"
                    data-ng-model="news.newComment[@story.id]"
                    placeholder=">"
                    rows="1">
                </textarea>
            </div>
        </div>
    </body>
</html>