<h1 data-pointer data-markdown>news</h1>

<!-- Call WebAPI once to return news heads, then load content and thumbnails -->

<div data-ng-repeat="story in news.stories">
    <p>{{story.title}}</p>
    <p>{{story.date}}</p>
    <p>by {{story.author}}</p>
    <p>
        <span data-ng-repeat="tag in story.tags">{{tag}}&nbsp;</span>
    </p>
    <markdown>{{story.content}}</markdown>
</div>