<h1 data-pointer>news</h1>

<p>The news page will display calendar chart with stacked series for tags, and load all the news article heads.</p>

<h2>entry</h2>

<p>This is an example news update.</p>